@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-weight: 400;
  text-decoration: none;
}

.red {
  color: #e34444;
}

.red-bgc {
  background-color: #e34444;
  width: 150px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.black {
  color: #000000;
}

h2 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.center-text {
  text-align: center;
}

.btn {
  background-color: #e34444;
  color: black;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  border: none;
  margin-top: 10px;
}

input {
  border-color: #000000;
  border-radius: 15px;
  text-align: center;
}
.divider {
  background-color: #e34444;
  width: 130px;
  height: 1px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.white-bg {
  background-color: #e8e8e8;
}
form {
  background-color: #e8e8e8;
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-margin {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1200px) {
}
