@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.red {
  color: rgb(210, 0, 0);
}

.font {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
